/* STARTER CSS - GENERAL LAYOUT */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* STARTER CSS - GENERAL LAYOUT */

/* GLOBAL VARIABLES */

:root {
    --dark-background: #1F2937;
    --main-text: #F9FAF8;
    --secondary-text: #E5E7EB;
    --btn-color: #3882F6;
}

/* GLOBAL VARIABLES */

body {
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header-container {
    background-color: var(--dark-background);
}

.header-container ul {
    display: flex;
    gap: 30px;
    list-style-type: none;
}

.header-container a {
    text-decoration: none;
    color: var(--main-text);
}

.header-container a:hover {
    text-decoration: underline;
}

.header-container ul>li:nth-child(2) {
    margin-left: auto;
}

.body-container {
    flex: 1;
}