/* STARTER CSS - GENERAL LAYOUT */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* STARTER CSS - GENERAL LAYOUT */

/* GLOBAL VARIABLES */

:root {
    --dark-background: #1F2937;
    --main-text: #F9FAF8;
    --secondary-text: #E5E7EB;
    --btn-color: #3882F6;
}

/* GLOBAL VARIABLES */

body {
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header-container {
    background-color: var(--dark-background);
    padding: 25px 70px;
}

.header-container ul {
    display: flex;
    align-items: center;
    gap: 30px;
    list-style-type: none;
}

.header-container a {
    text-decoration: none;
    color: var(--main-text);
}

.header-logo-txt {
    font-size: 24px;
}

.header-container a:hover {
    text-decoration: underline;
}

.header-container ul>li:nth-child(2) {
    margin-left: auto;
}

.body-container {
    flex: 1;
}

.hero-main-container {
    display: flex;
    background-color: var(--dark-background);
    padding: 25px 70px;
}

.hero-main-txt {
    flex: 0.5;
    background-color: var(--dark-background);
    align-content: center;
}

.hero-main-txt p {
    color: var(--main-text);
}

.hero-heading {
    color: var(--main-text);
    font-size: 48px;
    /* extra bold */
    font-weight: 800;
    /* extra bold */
}

.btn {
    color: var(--main-text);
    background-color: var(--btn-color);
    padding: 5px 20px;
    border-radius: 10px;
    font-weight: bold;
}

.btn-hero {
    border: var(--dark-background);
}